body {
    margin: 0;
    padding: 0;
    background-color: #cfcfcf;
}

div {
    margin: 0;
    padding: 0;
}

canvas {
    margin: 0;
    padding: 0;
}

#sketch-holder {
    display: flex;
    justify-content: center;
}